@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Barcode and QR Code Reader</h1>
    <input type="file" id="file" accept="image/*" name="barcodeImage"/>
    <button id="btn-scan" onclick="upload()">Scan</button>
    <div id="results"></div>
    <br>
    <img id="image"/>
</div>

