#imageview {
    position: relative;
    width: 40vw;
}

#image {
    position: relative;
    width: 100%;
    height: 100%;
    display: none
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.p-result {
    color: red;
    font-style: italic;
}
