@page "/barcodescanner"

@inject IJSRuntime JSRuntime

@if (isGranted == false)
{
    <p>Camera is not accessible!</p>
}
else {
    <div class="select">
    <label for="videoSource">Video source: </label>
    <select id="videoSource"></select>
</div>

<div id="videoview">
    <div class="dce-video-container" id="videoContainer"></div>
    <canvas id="overlay"></canvas>
</div>
}


@code {
    private bool isGranted = false;
    String result = "";
    private DotNetObjectReference<Scanner> objRef;

    @* https://docs.microsoft.com/en-us/aspnet/core/blazor/images?view=aspnetcore-6.0 *@
    private async Task LoadImage(InputFileChangeEventArgs e)
    {
        result = "";

        var imageFile = e.File;
        var jsImageStream = imageFile.OpenReadStream(1024 * 1024 * 20);
        var dotnetImageStream = new DotNetStreamReference(jsImageStream);
        await JSRuntime.InvokeAsync<byte[]>("jsFunctions.setImageUsingStreaming",
        "image", dotnetImageStream);
    }

    protected override void OnInitialized()
    {
        //objRef = DotNetObjectReference.Create(this);

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var status = await Permissions.CheckStatusAsync<Permissions.Camera>();
            if (status == PermissionStatus.Granted)
            {
                isGranted = true;
            }
            else
            {
                status = await Permissions.RequestAsync<Permissions.Camera>();
                if (status == PermissionStatus.Granted)
                {
                    isGranted = true;
                }
            }

            if (isGranted)
            {
                StateHasChanged();
                objRef = DotNetObjectReference.Create(this);
                await JSRuntime.InvokeAsync<Boolean>("jsFunctions.initScanner", objRef, "videoContainer", "videoSource", "overlay");
            }
        }
    }


    [JSInvokable]
    public void ReturnBarcodeResultsAsync(String text)
    {
        result = text;
        StateHasChanged();
    }

    public void Dispose()
    {
        objRef?.Dispose();
    }
}
